/* base styles */
body {
    background-color: #FFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

  /* reset styles */
  ul,
  ol {
    list-style-type: none;
  }
a {
    color: currentColor;
    text-decoration: none;
}
address {
    font-style: inherit;
}
button {
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
}
h1,
h2,
h3 {
    letter-spacing: 0.02em;
}

/* common styles */
.header-logo,
.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-dark,
.nav-link,
.benefits-captain,
.users-subject,
.users-review,
.portfolio-subject,
.portfolio-captain {
    color: #2E2F42;
}
.logo-light,
.footer-slogan {
    color: #F4F4FD;
}
.nav-link,
.hero-btn,
.benefits-captain,
.users-review,
.portfolio-captain {
    font-weight: 500;
}
.nav-link:focus,
.nav-link:hover,
.address-link:focus,
.address-link:hover {
    color: var(--OCEAN, #404BBF);
}
.nav-link:active {
    color: var(--OCEAN, #404BBF);
}

.hero,
.footer {
    background-color: #2E2F42;
}
.hero,
.hero-btn {
    color: #FFF;
}
.benefits-captain,
.users-review,
.portfolio-captain {
    font-size: 20px;
    line-height: 1.2;
}
.benefits-desc,
.users-desc,
.portfolio-desc {
    color: var(--SLATE, #434455);
}
.users-subject,
.portfolio-subject {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
}

/* header */
.header { 
}
.header-nav {
}
.header-logo {
}
.logo-dark{
}
.nav-list {
}
.nav-item {
}
.nav-link {
}
.header-address {
}
.address-list {
}
.address-item {
}
.address-link {
}

/* hero section */
.hero {
}
.hero-title {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
}
.hero-btn {
    background: var(--IRIS, #4D5AE5);
    letter-spacing: 0.04em;
    line-height: inherit;
}
.hero-btn:focus,
.hero-btn:hover {
   background-color: #404BBF;
}
/* benefits section */
.benefits {
}
.benefits-subject {
}
.benefits-list {
}
.benefits-item {
}
.benefits-captain {    
}
.benefits-desc {
}

/* users section */
.users {
    background: var(--CLOUD, #F4F4FD);
}
.users-subject {
}
.users-list {
}
.users-item {
    background: var(--WHITE, #FFF);
}
.users-avatar {
}
.users-review,
.users-desc {
    text-align: center;
}
.users-desc {
}

/* portfolio section */
.portfolio {
}
.portfolio-subject {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-pic {
}
.portfolio-captain {
}
.portfolio-desc {
}

/* footer section */
.footer {
}
.footer-logo {
}
.logo-light {
}
.footer-slogan {
}

 